.bg-gradient {
  background: linear-gradient(94.82deg, #F3BA2F 30.88%, #F7931A 91.71%);
}

.bg {
  background-image: url(./assets/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.border-gradient {
  border-image: linear-gradient(90deg, #3DBFBB 0%, #8635BD 100%);
  border-image-slice: 1;
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  box-sizing: initial;
}

.w-inherit {
  width: 50%;
}

.rotate {
  animation: rotation 8s infinite linear;
  filter: drop-shadow(8px 8px 6px rgb(146, 179, 221));
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@media (max-width: 1024px) {
  .w-inherit {
    width: 0%;
  }
}